/* css/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.contact {
    padding: 50px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px; /* Ajoute un espace de 20px entre les colonnes */
    margin-top: 30px;
}

.contact-form,
.contact-info {
    flex: 1;
    min-width: 300px;
}

.contact-form h3,
.contact-info h3 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

button {
    background-color: #808080;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #666666;
}

.contact-info p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #333;
}

.contact-info i {
    margin-right: 10px;
    color: #ff6600;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: #ff6600;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #cc5200;
}

@media (max-width: 768px) {
    .contact-wrapper {
        flex-direction: column;
    }
}
